<header>
    <div class="inline-flex nm-flat-gray-200-sm rounded-lg pl-4 pr-4 pb-4 pt-4 items-center overflow-auto">
        <strong class=" flex-1 text-gray-600">m8dotpie</strong>
        <div class="ml-6 w-px h-16 bg-gray-300"></div>
        <button class="text-lg font-bold ml-6 text-gray-500 hover:text-gray-800">
            <a href="/">HOME</a>
        </button>
        <div class="ml-6 w-px h-16 bg-gray-300"></div>
        <button class="text-lg font-bold ml-6 text-gray-500 hover:text-gray-800"><a href="contact">CONTACT</a></button>
    </div>
</header>