<header>
  <div class="flex justify-between w-full">
    <div class="flex flex-wrap items-center justify-center">
      <div
        class="flex flex-wrap max-h-20 nm-flat-gray-100-sm rounded-lg pl-4 pr-4 pb-4 pt-4 items-center overflow-auto"
      >
        <button class="text-lg font-bold text-gray-500 hover:text-gray-800">
          <a href="/" title="Home">
            <svg
              class="h-8 w-8 fill-current text-gray-500"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 50 50"
              stroke="currentColor"
            >
              <path d="M 25 1.0507812 C 24.7825 1.0507812 24.565859 1.1197656 24.380859 1.2597656 L 1.3808594 19.210938 C 0.95085938 19.550938 0.8709375 20.179141 1.2109375 20.619141 C 1.5509375 21.049141 2.1791406 21.129062 2.6191406 20.789062 L 4 19.710938 L 4 46 C 4 46.55 4.45 47 5 47 L 19 47 L 19 29 L 31 29 L 31 47 L 45 47 C 45.55 47 46 46.55 46 46 L 46 19.710938 L 47.380859 20.789062 C 47.570859 20.929063 47.78 21 48 21 C 48.3 21 48.589063 20.869141 48.789062 20.619141 C 49.129063 20.179141 49.049141 19.550938 48.619141 19.210938 L 25.619141 1.2597656 C 25.434141 1.1197656 25.2175 1.0507812 25 1.0507812 z M 35 5 L 35 6.0507812 L 41 10.730469 L 41 5 L 35 5 z"/>
            </svg>
          </a>
        </button>
        <div class="h-10 flex flex-wrap p-1 ml-3 mr-3 nm-inset-gray-200-lg rounded-md"></div>
        <button class="text-lg font-bold text-gray-500 hover:text-gray-800">
          <a href="03_other/contact" title="Contact">
            <svg
              class="h-9 w-9 fill-current text-gray-500"
              fill="none"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 100 80"
              stroke="currentColor"
            >
              <path d="M 45 51.815 l 45 -33.87 v -1.967 c 0 -2.03 -1.646 -3.676 -3.676 -3.676 H 3.676 C 1.646 12.302 0 13.948 0 15.978 v 1.967 L 45 51.815 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path d="M 47.405 60.019 c -0.712 0.536 -1.559 0.804 -2.405 0.804 s -1.693 -0.268 -2.405 -0.804 L 0 27.958 v 46.064 c 0 2.03 1.646 3.676 3.676 3.676 h 82.648 c 2.03 0 3.676 -1.646 3.676 -3.676 V 27.958 L 47.405 60.019 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
            </svg>
          </a>
        </button>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center w-40 nm-flat-gray-100-sm rounded-md overflow-auto">
      <div class="nm-flat-gray-100-sm overflow-hidden rounded-md m-3">
        <img
          src="{{ site.baseurl }}/assets/images/profile.png"
          alt="Profile"
          class="object-cover object-center"
        >
      </div>
      <p class="text-gray-500 text-sm font-semibold">Igor</p>
      <p class="text-gray-500 font-bold text-sm">"m8dotpie"</p>
      <p class="text-gray-500 text-sm font-semibold">Alentev</p>
      <!-- <p class="m-1 text-gray-500 font-bold text-sm">Igor</p> -->
    </div>
  </div>
  <p class="mb-3" />
</header>
