<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
  <div class="flex justify-center min-h-screen bg-gray-100">
    <div class="w-full lg:w-1/2 p-8 relative nm-flat-gray-100-lg">
      {% include header.html %}
      <div class="pb-16">
        {{content}}
      </div>
      <div class="flex-grow" />
      <div class="p-4 absolute bottom-0 right-0 w-full">
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>

</html>